/* Reset and base styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #121212;
    color: #ffffff;
    font-size: 16px;
    line-height: 1.6;
    margin: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Header styles */
.header {
    background-color: #000000;
    padding: 10px 0;
    text-align: center;
    margin-bottom: 20px;
}

.header .logo {
    vertical-align: middle;
    margin-right: 10px;
    width: 40px; /* Adjust logo size */
}

.header .header-title {
    display: inline-block;
    font-size: 24px;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* Main section styles */
.main {
    background-color: #1f1f1f;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 30px;
    text-align: center; /* Center align main content */
}

.section-title {
    font-size: 28px;
    color: #39ff14;
    margin-top: 30px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.album-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.album {
    width: 23%;
    text-align: center;
}

.album img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.album-title, .album-artist {
    font-size: 14px;
}

/* Grid layout for songs and artists */
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.grid-item img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.artist-container {
    display: flex;
    justify-content: space-around; /* Adjust as needed */
    align-items: center; /* Align items vertically */
    flex-wrap: wrap; /* Wrap items if they overflow */
}

.artist {
    text-align: center;
    width: 200px; /* Adjust width as needed */
    margin-bottom: 20px; /* Space between artists */
}

.artist img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.artist-name {
    margin-top: 10px;
    font-size: 16px;
    color: #ffffff;
}


/* Queue section styles */
.queue {
    background-color: #1f1f1f;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 30px;
    text-align: left; /* Align queue section to the left */
}

.queue-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; /* Align queue images to the left */
    gap: 10px;
}

.queue-images img {
    width: 48%;
    border-radius: 8px;
    margin-bottom: 10px;
}

/* Footer styles */
.footer {
    background-color: #000000;
    padding: 10px 0;
    text-align: center;
}

.footer p {
    color: #ffffff;
    font-size: 14px;
}

.footer p a {
    color: #39ff14;
    text-decoration: none;
}

.footer p a:hover {
    text-decoration: underline;
}
